# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# Logs
*.log

# Model weights (optional)
models/*.pth

# Streamlit cache
.streamlit/
# Dataset (do not upload)
data/
